<%= render "shared/header" %>

<div class="top-base">
  <div class="video">
    <%= video_tag("/videos/16mm_Scratched_lite.mp4",
      loop: :true,
      autoplay: :true,
      muted: :true,
      playsinline: :true,
      class: "film") %>
    <div class="factor">
      <div class="first size">
      </div>
      <div class="w size">
      </div>
      <div class="t size">
      </div>
      <div class="m size">
      </div>
      <div claa="c size">
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>