.t-s-base {
  width: 100vw;
  padding-top: calc(12vh + 2px);
  margin-bottom: calc(12vh + 2px);
  background-image: url('image/22724258_m.jpg');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
  font-family: "A-OTF A1明朝 Std";
}

.t-s-flame {
  width: 40vw;
  margin: 0 auto;
}

.s-size {
  width: 100%;
}

.t-control {
  width: 100%;
  text-align: center;

  a {
    // text-decoration: none;
    color: #000;
  }

  .t-update {
    margin-right: 1vw;
  }
  
}

// .t-delete {
// }  

.t-s-comments {
  border: solid 0.5px darkgray;
  border-top: none;
  padding: 15px;
  width: 100%;
  padding: calc(2vh + 2%) calc(1vw + 2%);
}

// .t-s-comment-form {
//   margin-bottom: 20px;
// }

#comment-form {
  position: relative;
}

.comment-text {
  resize: none;
  width: 24vw;
  height: 4vh;
  overflow: auto;
  border: 1px solid #000;
  padding: 4px;
  font-size: 12px;
}

.comment-submit {
  border: 1px solid  #000;
  font-size: 10px;
  width: calc(6vw + 8px);
  height: 2vh;
  position: absolute;
  left: calc(24vw + 4px);
  top: 2vh;
}

.t-s-comment {
  border: #000;
  padding-top: 20px;
}

.t-s-comment-flame {
  overflow: auto;
  height: 64vh;
  padding-top: 6px;
}

.comment {
  margin-top: 8px;
  background-color: rgba(231, 119, 156, 0.521);
  padding: 6px;
  display: flex;
  justify-content: space-between;
}

.user-info {
  margin-bottom: 2px;
}

// .comment-data {

// }

.d-b {
  margin: auto 0;
}


.delete-btn {
  display: none;
}

.comment:hover span {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  // border: 2px solid #000;
  border-radius: 50%;
  background: #daabab;
}

.delete-btn::before, .delete-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 12px;
  background: red;
}

.delete-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}