<%= render "shared/second-header" %>

<div class="wroks-master">
    <div class="movie-label">
      <div class="modal-br">
        <label for="br">
          <img src="image/br_スクリーンショット 2022-02-20 14.57.50.png" class="pic br">
        <input type="checkbox" id="br">
        <div class="modal-br back">
          <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/EwmNOBf5t2w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="br mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-ur">
        <label for="ur">
          <img src="image/ur_スクリーンショット 2022-02-20 14.57.13.png" class="pic">
        <input type="checkbox" id="ur">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/2mBC-etpZIg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="b mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-do">
        <label for="do">
          <img src="image/do_スクリーンショット 2022-02-20 15.00.49.png" class="pic">
        <input type="checkbox" id="do">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/ZCUyX_f1Qgw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="c mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-on">
        <label for="on">
          <img src="image/on_スクリーンショット 2022-02-20 15.08.00.png" class="pic">
        <input type="checkbox" id="on">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/_szWdpTSMCM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="d mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-sa">
        <label for="sa">
          <img src="image/sa_mv_スクリーンショット 2022-02-20 15.05.16.png" class="pic">
        <input type="checkbox" id="sa">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/0pKfxbCHLoU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="e mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-se">
        <label for="se">
          <img src="image/se_スクリーンショット 2022-02-20 15.03.28.png" class="pic">
        <input type="checkbox" id="se">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/qFD3hkAYClE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="g mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-itu">
        <label for="itu">
          <img src="image/itu_mv_スクリーンショット 2022-02-20 15.07.21.png" class="pic">
        <input type="checkbox" id="itu">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/MWGvdYb7mY0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="h mv"></iframe>
        </div>
        </label>
      </div>
      <div class="modal-zen">
        <label for="zen">
          <img src="image/zen_スクリーンショット 2022-02-20 15.08.34.png" class="pic">
        <input type="checkbox" id="zen">
        <div class="modal-br back">
        <iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/xkqkq8HZ5Jo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen, class="i mv"></iframe>
        </div>
        </label>
      </div>
    </div>

    <%# <%= render "shared/works_movies" %>

</div>

<%= render "shared/footer" %>