footer {
  z-index: 100;
  bottom: 0;
  left: 0;
  position: fixed;
}

.last {
  // text-align: center;
  font-size: 10px;
  // line-height: 12vh;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 14px));
  // height: 12vh;
  // width: 100vw;
  color: white;
}

.entrance {
  position: absolute;
  top: 5vh;
  right: 0;
}

.management {
  display: flex;
  list-style: none;
}

.management li a {
  color: #fff;
  text-decoration: none;
}

.management li:hover a {
  text-decoration: underline;
}

.session {
  padding: 0 2vw 0 1vw;
}