.fix-content {
  background-color: rgb(0, 0, 0);
  height: 10vh;
  width: 100vw;
  color: white;
  position: fixed;
}

.top {
  text-align: center;
  line-height: 10vh;
  font-size: 44px;
}

.fix-content ul li {
  display: none;
}

.fix-content:hover ul li {
  display:block;
}

.nav {
  height: 5vh;
  line-height: 5vh;
}

.list-first {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  background-color: black;
}

.work-list {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}