<footer class="fix-content">
  <div>
    <p class="last">©  Cmbata Inc. All rights reserved.</p>
  </div>
  <span class="entrance">
    <ul class="management">
    <% unless user_signed_in? %>
      <li><%= link_to '新規登録', new_user_registration_path, class:"registration" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class:"session" %></li>
    <% else %>
      <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class:"session" %></li>
    <% end %>
    </ul>
  </span>
</footer>
