<footer class="fix-content shadow-bottom">
  <p class="last">&copy; Cmbata Inc. All rights reserved.</p>
  <span class="entrance">
    <ul class="management">
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user.id) do %>
          <%= current_user.name %>
        <% end %>
      </li>
      <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class:"session" %></li>
    <% end %>
    </ul>
  </span>
</footer>
