
<div class="member-ex">
  <div class="m--one">
    <div class="m--pic">
      <%# <%= image_tag member.image.variant( resize: "50%"), class: "member-image" %>
      <img src="image/adult-g01119d51a_1280.jpg" width="50%" class="member-image" alt="仮メンバー画像1">
    </div>
    <span class="m--text">
      <span class="m--pos">
        President
      </span>
      <span class="m--n">
        佐々木小次郎
      </span>
    </span>
  </div>

  <div class="m--one">
    <div class="m--pic">
      <%# <%= image_tag member.image.variant( resize: "50%"), class: "member-image" %>
      <img src="image/man-g53c40512a_1280.jpg" width="50%" class="member-image" alt="仮メンバー画像2">
    </div>
    <span class="m--text">
      <span class="m--pos">
        Producer
      </span>
      <span class="m--n">
        高畑俊樹
      </span>
    </span>
  </div>

  <div class="m--one">
    <div class="m--pic">
      <%# <%= image_tag member.image.variant( resize: "50%"), class: "member-image" %>
      <img src="image/portrait-g0eef61e72_1280.jpg" width="50%" class="member-image" alt="仮メンバー画像3">
    </div>
    <span class="m--text">
      <span class="m--pos">
        Project-manager
      </span>
      <span class="m--n">
        小川華
      </span>
    </span>
  </div>
</div>