
            <div class="t__ex">
              <div class="t__ex-content max-cw">
                <div class="t__ex-content-inner">
                  <span class="t__ex-content-title">
                    △△(〇〇会社) TVCM制作しました！
                  </span>
                  <span class="t__ex-content-name">
                    高畑俊樹
                  </span>
                  <span class="t__ex-content-body">
                    <div>こんにちわ！<br>皆さん、いかがお過ごしでしょうか？<br><br>昨日より弊社で制作した△△のTVCM□□篇が公開されております！<br>
                    本ホームページのworkページにも追加しましたので、是非ご視聴下さい！<br><br>youtubuでも公開されております。<br>（下にリンクも載せておきます）<br>
                    <a href="https://www.google.com/search?q=cm&amp;oq=cm&amp;aqs=chrome..69i57j69i59j0i131i433i512j0i4i131i433i512j0i131i433i512l6.2403j0j15&amp;sourceid=chrome&amp;ie=UTF-8">https://www.google.com/search?q=cm&amp;oq=cm&amp;aqs=chrome..69i57j69i59j0i131i433i512j0i4i131i433i512j0i131i433i512l6.2403j0j15&amp;sourceid=chrome&amp;ie=UTF-8</a>
                    <br><br>宜しくお願い致します！！</div>
                  </span>
                </div>
              </div>

              <div class="t__ex-content max-cw">
                <div class="t__ex-content-inner">
                  <span class="t__ex-content-title">
                    綺麗な景色
                  </span>
                  <span class="t__ex-content-name">
                    小川華
                  </span>
                  <span class="t__ex-content-image">
                    <%# <action-text-attachment sgid="BAh7CEkiCGdpZAY6BkVUSSI1Z2lkOi8vb3JnaHAtY21uL0FjdGl2ZVN0b3JhZ2U6OkJsb2IvNz9leHBpcmVzX2luBjsAVEkiDHB1cnBvc2UGOwBUSSIPYXR0YWNoYWJsZQY7AFRJIg9leHBpcmVzX2F0BjsAVDA=--19a182ddbdab149ab02cc0cc8501e9c69a149c6c" content-type="image/jpeg" url="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1ce8ce1d7e1d237db22f163c38bdb810e89d57dd/sample.jpeg" filename="sample.jpeg" filesize="48301" width="1000" height="667" presentation="gallery">
                    </action-text-attachment> %>
                    <img src="image/sample.jpeg" width="200%" class="topic-image" alt="仮トピック画像1">
                  </span>
                </div>
              </div>

              <div class="t__ex-content max-cw">
                <div class="t__ex-content-inner">
                  <span class="t__ex-content-title">
                    ある日。。。
                  </span>
                  <span class="t__ex-content-name">
                    高畑俊樹
                  </span>
                  <span class="t__ex-content-image">
                    <%# <action-text-attachment sgid="BAh7CEkiCGdpZAY6BkVUSSI1Z2lkOi8vb3JnaHAtY21uL0FjdGl2ZVN0b3JhZ2U6OkJsb2IvOT9leHBpcmVzX2luBjsAVEkiDHB1cnBvc2UGOwBUSSIPYXR0YWNoYWJsZQY7AFRJIg9leHBpcmVzX2F0BjsAVDA=--a79990e19736218acc553783a655d9179f4238a8" content-type="image/jpeg" url="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--16b9397808ebc7ee5f0ac0af0b517a683bec4fe2/IMG_4408.JPG" filename="IMG_4408.JPG" filesize="1605022" width="3264" height="2448" presentation="gallery">
                    </action-text-attachment> %>
                    <img src="image/IMG_4408.JPG" width="200%" class="topic-image" alt="仮トピック画像2">
                  </span>
                </div>
              </div>
            </div>