  <div class="m__ex-content max-cw">
    <div class="m__ex-content-pic">
      <%# <%= image_tag member.image.variant( resize: "50%"), class: "member-image" %>
      <img src="image/adult-g01119d51a_1280.jpg" width="50%" class="member__image-picture" alt="仮メンバー画像1">
    </div>
    <span class="m__ex-content-text">
      <span class="m__ex-content-pos">
        President
      </span>
      <span class="m__ex-content-name">
        佐々木小次郎
      </span>
    </span>
  </div>

  <div class="m__ex-content max-cw">
    <div class="m__ex-content-pic">
      <%# <%= image_tag member.image.variant( resize: "50%"), class: "member-image" %>
      <img src="image/man-g53c40512a_1280.jpg" width="50%" class="member__image-picture" alt="仮メンバー画像2">
    </div>
    <span class="m__ex-content-text">
      <span class="m__ex-content-pos">
        Producer
      </span>
      <span class="m__ex-content-name">
        高畑俊樹
      </span>
    </span>
  </div>

  <div class="m__ex-content max-cw">
    <div class="m__ex-content-pic">
      <%# <%= image_tag member.image.variant( resize: "50%"), class: "member-image" %>
      <img src="image/portrait-g0eef61e72_1280.jpg" width="50%" class="member__image-picture" alt="仮メンバー画像3">
    </div>
    <span class="m__ex-content-text">
      <span class="m__ex-content-pos">
        Project-manager
      </span>
      <span class="m__ex-content-name">
        小川華
      </span>
    </span>
  </div>