
<div class="member-block-master">
  <div class="member-list">
  
    <div class="info-frame">
      <label for="1">
      <div class="member-image-content">
        <img src="image/adult-g01119d51a_1280.jpg" width="50%" class="member-image" alt="仮メンバー画像1">
      </div>
      <div>
        <span class="profile-text-p-n">
          <p class="profile-text-top">
            President
          </p>
          <p class="profile-text-top top-blank">
            佐々木小次郎
          </p>
        </span>
        <span class="profile-text">
          <p>担当作品
          TVCM: 〇〇会社 △△ □□篇
          MV: 〇〇○ △△　
          WEB: 〇〇会社 △△ □□篇　etc...
          </p>
        </span>
      </div>
      <input type="checkbox" id="1">
      <div class="blowing">
        <p>代表です！
            
           宜しくお願いします！！
        </p>
      </div>
      </label>
    </div>

    <div class="info-frame">
      <label for="2">
      <div class="member-image-content">
        <img src="image/man-g53c40512a_1280.jpg" width="50%" class="member-image" alt="仮メンバー画像2">
      </div>
      <div>
        <span class="profile-text-p-n">
          <p class="profile-text-top">
            Producer
          </p>
          <p class="profile-text-top top-blank">
            高畑俊樹
          </p>
        </span>
        <span class="profile-text">
          <p>担当作品
          TVCM: 〇〇会社 △△ □□篇
          MV: 〇〇○ △△　
          WEB: 〇〇会社 △△ □□篇　etc...
          </p>
        </span>
      </div>
      <input type="checkbox" id="2">
      <div class="blowing">
        <p>プロデューサーの〇〇です！！

           まずは自分が楽しむがモットーです！

           宜しくお願いします♪
        </p>
      </div>
      </label>
    </div>

    <div class="info-frame">
      <label for="3">
      <div class="member-image-content">
        <img src="image/portrait-g0eef61e72_1280.jpg" width="50%" class="member-image" alt="仮メンバー画像3">
      </div>
      <div>
        <span class="profile-text-p-n">
          <p class="profile-text-top">
            President
          </p>
          <p class="profile-text-top top-blank">
            佐々木小次郎
          </p>
        </span>
        <span class="profile-text">
          <p>担当作品
          TVCM: 〇〇会社 △△ □□篇
          MV: 〇〇○ △△　
          WEB: 〇〇会社 △△ □□篇　etc...
          </p>
        </span>
      </div>
      <input type="checkbox" id="3">
      <div class="blowing">
        <p>PMの〇〇です。

           映画や音楽が好きです。
           毎年フジロック参戦してます！

           宜しくお願い致します！！
        </p>
      </div>
      </label>
    </div>

  </div>
</div>
