.e-base {
  padding: 0;
  margin: 0;
}

.e-topic-form {
  width: 80vw;
  height: 100%;
  margin: 10vh auto 0 auto;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 4px;
  padding: 20px;
}

#e-f {
  font-size: 14px;
}

.e-title {
  background-color: rgb(236, 236, 236);
  /* opacity: 0.8; */
  border-radius: 1px;
  margin-bottom: 8px;
  border: solid 1px rgb(50, 50, 50);
}

.e-content {
  background-color: rgb(236, 236, 236);
  /* opacity: 0.8; */
  border: solid 1px rgb(50, 50, 50);
  max-height: 60vh;
  overflow: auto;
}

.e-btn {
  background-color: rgb(236, 236, 236);
  border-radius: 1px;
  margin-top: 15px;
  border: solid 1px rgb(50, 50, 50);
  padding: 0 5px;
}

.e-return {
  background-color: rgb(236, 236, 236);
  border-radius: 1px;
  margin-top: 15px;
  border: solid 1px rgb(50, 50, 50);
  padding: 4px;
  text-decoration: none;
  color: black;
}