/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_tree ./_parts
 *= require_tree ./shared
 *= require_tree ./page-style
 *= require_tree .
 *= require_self
 */

html {
  scroll-behavior: smooth;
}

body {
   /* デフォルトフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body::after {
  content: '';
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgba(100, 100, 100, 1) 5%, rgba(40, 40, 40, 1) 30%, rgb(0, 0, 0) 80%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
}

.film {
  z-index: 90;
  opacity: 0.1;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  pointer-events: none;
}

 /* * {
  border: solid 0.1px red;
 } */