// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// レスポンシブ対応記述-----------------------
@media (max-width: 767px) {



}
// ---------------------------------------


.top-base {
  // width: 100vw;
  height: 452vh;
}

.top-main {
  // width: 100vw;
  height: 452vh;
  overflow: hidden;
  position: relative;
}

.film {
  z-index: -10;
  opacity: 0.2;
  height: 452vh;
  // width: 976px;
  object-fit: cover;
}

.factor {
  position: absolute;
  top: 12vh;
  width: 100vw;
  height: 452vh;
  // background-color: azure;
  // margin: 0px auto;
  // display: table;
}

.top-back {
  background-color: rgb(255, 255, 255);
  height: 452vh;
  width: 55vw;
  margin: 0px auto;
}

// 横スクロール画面設定記述 ------------------------------

.first {
  position: relative;
  // object-fit: cover;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  // height: 76vh;
  max-width: 55vw;
  margin: 0px auto 12vh auto;
  display: flex;
  border-bottom: 2px solid rgb(209, 172, 51);
}

.picture {
  scroll-snap-align: center;
  width: 55vw;
  height: 76vh;
  flex: 0 0 55vw;
}

.one {
  background-image: url("image/c32c964a-e63a-4da0-a659-395f48950f67.jpg");
  background-size: 140%;
}

.one::before {
  content: '';
  background: inherit;
  filter: blur(6px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.one::after {
  content: '';
  position: absolute;
  top: 4vh;
  left: 3vw;
  right: 3vw;
  bottom: 4vh;
  background-image: url("image/c32c964a-e63a-4da0-a659-395f48950f67.jpg");
  background-size: 100%;
  z-index: 2;
  background-position: center;
}

.top-text {
  color: rgb(255, 255, 255);
  background-color: #000;
  font-size: 12px;
  display: inline-block;
  padding: 0 6px;
  // letter-spacing: normal;
  // font-feature-settings: "palt" 1;
}

.top-text-layout {
  position: absolute;
  top: 23vh;
  left: 13vw;
  z-index: 3;
  font-family: "A-OTF A1明朝 Std";
}

.two {
  background-image: url("image/d75006ee-6b87-4d95-b460-55ad070aa9fd.jpg");
  background-size: 200%;
  position: relative;
  background-position: center;
}

.two::before {
  content: '';
  background: inherit;
  filter: blur(6px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.two::after {
  content: '';
  position: absolute;
  top: 4vh;
  left: 3vw;
  right: 3vw;
  bottom: 4vh;
  background-image: url("image/d75006ee-6b87-4d95-b460-55ad070aa9fd.jpg");
  background-size: 100%;
  z-index: 2;
  background-position: center;
}

.three {
  background-image: url("image/752bb9cf-529d-45f9-ba7b-300ce9480012.jpg");
  background-size: 140%;
  position: relative;
}

.three::before {
  content: '';
  background: inherit;
  filter: blur(6px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.three::after {
  content: '';
  position: absolute;
  top: 4vh;
  left: 3vw;
  right: 3vw;
  bottom: 4vh;
  background-image: url("image/752bb9cf-529d-45f9-ba7b-300ce9480012.jpg");
  background-size: 100%;
  z-index: 2;
  background-position: center;
}

.four {
  background-image: url("image/cat-gdd55f827d_1280.jpg");
  background-size: 200%;
  background-position: center;
  position: relative;
}


.four::before {
  content: '';
  background: inherit;
  filter: blur(6px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.four::after {
  content: '';
  position: absolute;
  top: 4vh;
  left: 3vw;
  right: 3vw;
  bottom: 4vh;
  background-image: url("image/cat-gdd55f827d_1280.jpg");
  background-size: 100%;
  z-index: 2;
  background-position: center;
}

// ---------------------------------------------------

.size {
  width: 55vw;
  height: 76vh;
  margin: 0px auto 12vh auto;
}

.w {
  // background-color: rgb(46, 2, 240);
  position: relative;
  border: 1px solid rgb(209, 172, 51);
}

.w-flame {
  // position:relative;
  width: 55vw;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-headline {
  // position: absolute;
  // left: 10vw;
  height: 26vh;
  width: 14vw;
  font-size: 26px;
  font-family: "ヒラギノ角ゴ Pro";
  color: rgb(209, 172, 51);
  text-align: center;
  line-height: 26vh;
  font-weight: 100;
  transform: scale(1, 0.7);
}

// .work-headline:hover {
//   text-decoration: underline;
//   text-decoration-thickness: 1px;
// }

.work-ex {
  position: relative;
  // top: 2vh;
  // left: 10vw;
  height: 100%;
  padding: calc((76vh - 55vh) / 2) 0;
  margin-right: 1vw;
  width: calc(55vw - 14vw);
  overflow: auto;
  // flex: 0 0 300px;
}

.ex {
  height: 55vh;
  width: 200px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 6px 0 20px rgb(54, 54, 54);
}

.a {
  position: absolute;
  left: 0;
  z-index: 5;
}

.b {
  position: absolute;
  left: 9vw;
  z-index: 4;
}

.c {
  position: absolute;
  left: 18vw;
  z-index: 3;
}

.d {
  position: absolute;
  left: 27vw;
  z-index: 2;
}

.e {
  position: absolute;
  left: 36vw;
  z-index: 1;
}

.ex-last {
  background: linear-gradient(to left, #fff, 80%, transparent);
  height: 75vh;
  width: 100px;
  position: absolute;
  right: 2px;
  z-index: 6;
  // box-shadow: inset 0 10 10px 10px #fff;
}

.w-link {
  color: rgb(209, 172, 51);
  font-size: 12px;
  position: absolute;
  right: 6px;
  bottom: 2px;
  text-decoration: none;
}

.w-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

// 
// .size {
//   width: 55vw;
//   height: 76vh;
//   margin: 0px auto 12vh auto;
// }
// 

.t {
  position: relative;
  border: 1px solid rgb(209, 172, 51);
  display: flex;
}

.t-flame {
  position: relative;
  width: 55vw;
  height: 76vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin-right: 4px;
}

.topic-headline {
  height: 26vh;
  width: 14vw;
  font-size: 26px;
  font-family: "ヒラギノ角ゴ Pro";
  color: rgb(209, 172, 51);
  text-align: center;
  line-height: 26vh;
  font-weight: 100;
  transform: scale(1, 0.7);
  margin: calc((76vh - 26vh) / 2) 0px;
  position: sticky;
  top: 0;
  left: 0;
}

.topic-ex {
  position: relative;
  top: 0;
  left: 14vw;
  display: flex;
  // height: 100%;
  // width: calc(55vw - 14vw);
  padding: calc((76vh - 55vh) / 2) 0;
  // margin-right: 1vw;
}

.topic-ex div:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 9vw;
  z-index: 4;
  margin: calc((76vh - 55vh) / 2) 0;
}

.topic-ex div:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 18vw;
  z-index: 3;
  margin: calc((76vh - 55vh) / 2) 0;
}

.topic-ex div:nth-of-type(4) {
  position: absolute;
  top: 0;
  left: 27vw;
  z-index: 2;
  margin: calc((76vh - 55vh) / 2) 0;
}

.topic-ex div:nth-of-type(5) {
  position: absolute;
  top: 0;
  left: 36vw;
  z-index: 1;
  margin: calc((76vh - 55vh) / 2) 0;
}

.t--one {
  height: 55vh;
  width: 21vw;
  border-radius: 6px;
  box-shadow: 6px 0 20px rgb(54, 54, 54);
  background-image: url('image/22724258_m.jpg');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  border: solid 1px darkgray;
  padding: 10px;
  z-index: 5;
  overflow: hidden;
}

// .t--one p {
//   display: block;
// }

.t--t {
  border-bottom: solid 1px rgba(83, 83, 83, 0.4);
  margin: 4px 0 8px 0;
  font-size: 12px;
  display: block;
  width: 10vw;
}

.t--n {
  border-bottom: solid 1px rgba(83, 83, 83, 0.4);
  margin: 0 0 10px calc(21vw - 10vw - 20px);
  font-size: 10px;
  display: block;
  text-align: right;
  width: 10vw;
}

.topic-image {
  height: 46vh;
  // width: 21vw;
  object-fit: contain;
}

.m {
  background-color: hotpink;
}

.com {
  background-color: rgb(94, 255, 0);
}