.member-block-master {
  padding-top: calc(12vh + 2px);
  padding-bottom: calc(12vh + 2px);
}

.member-block {
  width: 40vw;
  margin: 0 auto;
}

.member-list {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; */
  /* margin-left: 1px; */
  /* margin-top: 6px; */
}

.info-frame {
  /* display: flex; */
  /* width: 32vw; */
  height: calc(100vh - (24vh + 4px));
  border-radius: 6px;
  /* background: linear-gradient(to left,transparent,#000); */
  background-color: #fff;
  border: solid 1px darkgray;
  padding: 3%;
  overflow: hidden;
  font-family: '851マカポップ';
  color: red;
  font-size: 24px;
  margin-bottom: 2px;
}

.member-image-content {
  /* width: 210px; */
  height: 65%;
}

.member-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.profile-text-p-n {
  display: inline-block;
  margin-top: -6vh;
  margin-left: 5%;
}

.profile-text-top {
  text-align: left;
  /* line-height: 26px; */  
  transform: rotate(-6deg);
  font-size: 52px;
  display: inline-block;
  /* margin-top: 2vh; */
}

.top-blank {
  margin-top: 2%;
}

.profile-text {
  text-align: left;
  margin-top: 2vh;
  margin-left: 4%;
  /* line-height: 26px; */
  display: inline-block;
  word-break: break-all;
  max-width: calc(40vw - 6%);
  white-space: pre-line;
} 