.member-block-master {
  padding-top: calc(12vh + 2px);
  padding-bottom: calc(12vh + 2px);
}

.member-block {
  width: 40vw;
  margin: 0 auto;
}

.member-list {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; */
  /* margin-left: 1px; */
  /* margin-top: 6px; */
}

.info-frame {
  /* display: flex; */
  /* width: 32vw; */
  height: calc(100vh - (24vh + 4px));
  border-radius: 6px;
  /* background: linear-gradient(to left,transparent,#000); */
  background-color: #fff;
  border: solid 1px darkgray;
  padding: 3%;
  overflow: hidden;

  font-family: '851マカポップ';
  color: red;
  font-size: 28px;

  /* transform: rotate(-6deg);
  margin: calc(1vh + 6px) 0 0 2vh; */

  margin-bottom: 2px;
}

.member-image-content {
  /* width: 210px; */
  height: 65%;
}

.member-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.profile-text {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  /* line-height: 26px; */  
} 