  <%# <div class="circle">
    <div class="count">
      <p>10</p>
      <p>9</p>
      <p>8</p>
      <p>7</p>
      <p>6</p>
      <p>5</p>
      <p>4</p>
      <p>3</p>
      <p>2</p>
      <p>1</p>
    </div>
    <div class="circle-inner1" 
          style="position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                box-sizing: border-box;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background: #606060;
                background-image: linear-gradient(to right, #797979 50%, transparent 0);
                ">
      <div class="circle-inner2"
          style="display: block;
                margin-left: 50%;
                height: 100%;
                border-radius: 0 100% 100% 0 / 50%;
                background-color: inherit;
                transform-origin: left;
                background: #797979;
                ">
      </div>
    </div>
  </div> %>